*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
}
.box
{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px ;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
   background-color: #ffffff;
}

.box header
{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333333;

}
.box form {
    position: relative;
    min-height: 490px;
    background-color: #f2f2f2;
    margin-top: 16px;
    overflow: hidden;
}
.box form .form {
    position: absolute;
    background-color: #ffffff;
    transition: 0.3s ease;
}

.box form .form.drugi {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.pierwszy {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

form.secActive .form.drugi {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

.box header::before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 27px;
    background-color: #4070f4;
    left:0;
    border-radius: 8px;
}


.box form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333333;
}

.box form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-fields {
        display: flex;
        width: calc(100%/3 - 15px);
        flex-direction: column;
        margin: 4px 0;
}

.input-fields input {
    outline: none;
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    margin: 8px 0;
    border: 1px solid #aaaaaa;
    padding: 0 15px;
    border-radius: 5px;
    color: #333;
}

.input-fields input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.input-fields label {
    font-weight: 500;
    font-size: 12px;
    color: #2e2e2e;
}

.box form button , .Backpage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    background-color: #4070f4;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    margin: 24px 0;
    transition: all 0.3s linear;
    cursor: pointer;
}

.box form button,
.box form button .Backpage {
    font-size: 14px;
    font-weight: 400;;
}

form button:hover {
    background-color: #265df2;
}

form .przyciski {
    display: flex;
    align-items: center;
}

form .przyciski button, .Backpage {
    margin-right: 14px;
}


@media (max-width: 750px ) {
    .box form {
        overflow-y: scroll;
    }
    .box form::-webkit-scrollbar {
        display: none;
        overflow-y: scroll;
    }
    form .fields .input-fields {
        width: calc(100%/2 - 15px);

    }

@media (max-width: 550px) {
    form .fields .input-fields {
        width: 100%;
    }
}
}