* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.panel {
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(dieta.jpg);
    background-size: cover;
    background-position: center;
    height:100%;
    width:100%;
}

.logo {
    width: 120px;
    cursor: pointer;
}


.podstrony{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.panel ul li::after {
    content: '';
    transition: 0.4s;
    bottom: -10px;
    left: 0;
    background: #009699;
    width: 0;
    height: 3px;
    position: absolute;
}

.panel ul li:hover::after
{
    width: 100%;
}

.panel ul li a {
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}

.srodek {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.srodek h1 {
    font-size: 75px;
    margin-top: 80px;
}

.srodek p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    position: relative;
    color:#fff;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009699;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
}

span {
    background: #009699;
    transition: 0.4s;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    z-index: -1;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}